{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <blockquote>{{ joke }}</blockquote>
    <div data-controller="hello">
        test stimulus
    </div>


    {{ 'series.nb'|trans({ 'serie_count' : 1, 'season_count' : 3 }) }}

{% endblock %}


