{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Error {{ exception.statusCode }}{% endblock %}

{% block body %}
    <h3>Ooops Qqch s'est mal passé</h3>
    <p>{{ exception.statusCode }}</p>
    <p>{{ exception.message }}</p>
{% endblock %}